#set -a && source .env && set +a

MLRUN_DBPATH=http://dragon.local:30070

V3IO_USERNAME=johannes
V3IO_ACCESS_KEY=shotgun

S3_ENDPOINT_URL=http://192.168.1.184:30080
AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=minio123

# vLLM
AWS_ENDPOINT_URL=http://192.168.1.184:30080

# Huawei Cloud
HW_REGION_NAME="af-south-1"
HW_ACCESS_KEY="my-access-key"
HW_SECRET_KEY="my-secret-key"