#mlrun==1.7.2
#mlrun==1.6.2
#igz_mgmt
#apscheduler
#uvicornclear

#grpcio==1.48
#grpcio-tools==1.48

mlrun==1.9.0
pyarrow==16.1.0
v3io-frames==0.10.14
#orjson==3.10.18
#PyYAML==6.0.2
#grpcio==1.73.0
grpcio-tools==1.47.5